.menuItemCard {
  margin: "16px 16px";
  cursor: "pointer";
  width: "25vw";
  height: "60vh";
  position: "relative";
  border-radius: "10px";
  text-align: "start";
  padding: "8px";
}

.menuItemCard::hover {
  box-shadow: none;
}
